.footer__links {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 18px;
  list-style: none;
  grid-auto-flow: column;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__links {
    max-width: calc(100% - 40px);
    grid-auto-flow: row;
    gap: 30px;
  }
}

@media screen and (max-width: 424px) {
  .footer__links {
    max-width: calc(100% - 32px);
    grid-auto-flow: row;
    gap: 32px;
  }
}