.lead__subtitle {
  margin: 0 auto;
  max-width: 640px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__subtitle {
    max-width: 355px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 424px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}