.cover {
  margin: auto;
  min-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover:hover {
  opacity: .8;
  transition: .7s ease-in-out;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover {
    min-height: 320px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    min-height: 200px;
  }
}